/*
============================================
; Title:  site.css
; Author: Professor Krasso
; Modified by: Kevin Jones
; Date:   7 December 2020
; Description: Global styling for week's 7 through 9
;===========================================
*/

/*Use Roboto: 300, 400, 500 for the font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*Have both sections appear 20px below the topbar and 20px to the left of the page*/
.container {
  margin-top: 20px;
  margin-left: 20px;
}

/*Add a topbar (you must use pure CSS) and give it a different background color*/
.topbar {
  background-color: #4d86b8;
  height: 50px;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

/*Apply alternate background colors for each table row*/
th {
  background-color: steelblue;
  color: white;
}

tr:nth-child(even) {
  background-color: lightsteelblue;
}
